{% extends 'dashboard.html' %}

{% comment %} {% block title %}My Applications{% endblock %} {% endcomment %}

{% block dash_content %}
  <h2>My Applications</h2>
  <table class="table table-hover" style="background: white;">
    <tr style="text-align: center;">
        <th>Index</th>
        <th>Job Title</th>
        <th>Application Date</th>
    </tr>
    {% for app in applications %}
    <tr style="text-align: center;">
        <td>{{forloop.counter}}</td>
        <td><a href="{% url 'jobs:job_details' app.job.id %}">{{ app.job.title }}</a></td>
        <td>{{ app.date }}</td>
    </tr>
    {% endfor %}
  </table>
  {% url 'accounts:dashboard' as dashboard_url %}
    <a class="btn btn-dark" href="{{ dashboard_url }}">Dashboard</a>
{% endblock %}